[1] At first, please find the required dataset for this lab named as 'housing.data1.txt'. You need
to upload the dataset to your Google Colab environment first. Then import the required
packages like below

In [ ]:
import pandas as pd
import numpy as np

[2] Import your dataset using pandas and Create a dataframe

In [ ]:
dataset = pd.read_csv('housing.data1.txt',header = None, sep = '\s+' )

[3] Convert your dataset to csv file

In [ ]:
dataset.to_csv('housing.data1.csv', index = None)

[4] Then use the print() function to generate output. It should look like below:

In [ ]:
df = pd.read_csv('housing.data1.csv')
print(df)

           0     1       2      3       4  ...       9     10      11     12    13
0    0.00632  18.0   2.310  0.000  0.5380  ...  296.00   15.3  396.90   4.98  24.0
1    0.00000   0.0   0.469  6.421  4.9671  ...    9.14   21.6     NaN    NaN   NaN
2    0.02729   0.0   7.070  0.000  0.4690  ...  242.00   17.8  392.83   4.03  34.7
3    0.03237   0.0   2.180  0.000  0.4580  ...  222.00   18.7  394.63   2.94  33.4
4    0.06905   0.0   0.000  0.458  7.1470  ...   18.70  396.9    5.33  36.20   NaN
..       ...   ...     ...    ...     ...  ...     ...    ...     ...    ...   ...
501  0.06263   0.0  11.930  0.000  0.5730  ...  273.00   21.0  391.99   9.67  22.4
502  0.04527   0.0  20.600    NaN     NaN  ...     NaN    NaN     NaN    NaN   NaN
503  0.06076   0.0  11.930  0.000  0.5730  ...  273.00   21.0  396.90   5.64  23.9
504  0.10959   0.0  11.930  0.000  0.5730  ...  273.00   21.0  393.45   6.48  22.0
505  0.04741   0.0  11.930  0.000  0.5730  ...  273.00   21.0  396.90   7.88  11.9

[506 rows x 14 columns]

[5] Learn about head() function and the purpose of it. Use the head() function to produce the output
below:

In [ ]:
df.head()

         0     1      2      3       4  ...       9     10      11     12    13
0  0.00632  18.0  2.310  0.000  0.5380  ...  296.00   15.3  396.90   4.98  24.0
1  0.00000   0.0  0.469  6.421  4.9671  ...    9.14   21.6     NaN    NaN   NaN
2  0.02729   0.0  7.070  0.000  0.4690  ...  242.00   17.8  392.83   4.03  34.7
3  0.03237   0.0  2.180  0.000  0.4580  ...  222.00   18.7  394.63   2.94  33.4
4  0.06905   0.0  0.000  0.458  7.1470  ...   18.70  396.9    5.33  36.20   NaN

[5 rows x 14 columns]

[6] As this is a large dataset, therefore we want to find out about missing data by using code. Find out
how you can find about if there is NaN in your dataset. I used a variable named check_nan to store my
result. If you print the variable, then you should get a True as result. That means you have NaN in your
dataset.

In [ ]:
import csv
check_nan = 'False'
a=''
with open("housing.data1.csv") as f_obj:
    reader = csv.reader(f_obj, delimiter=',')
    for line in reader:
        if a in str(line):
            check_nan = 'True'

In [ ]:
print(check_nan)

True

[7] Next, replace the NaN values with mean value (by using SimpleImputer class, module 04).

In [ ]:
X = df.iloc[:, :].values
Y = df.iloc[:,1: ].values
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
imputer=imputer.fit(X[:,1:])
X[:,1:]=imputer.transform(X[:,1:])

[8] Check if you still have NaN values in your dataset or not. Recall that your dataset is a numpy array
now as you used the SimpleImputer class. It should produce this output below:

In [ ]:
blank = ''
if blank in X:
  array_has_nan = 'True'
else:
  array_has_nan = 'False'

print(array_has_nan)

False

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

[9] Print your output and see if itâ€™s a numpy array. Your output should look like this below:

In [ ]:
print(X)

[[6.32000000e-03 1.80000000e+01 2.31000000e+00 ... 3.96900000e+02
  4.98000000e+00 2.40000000e+01]
 [0.00000000e+00 0.00000000e+00 4.69000000e-01 ... 3.49281783e+02
  1.29052049e+01 2.25598739e+01]
 [2.72900000e-02 0.00000000e+00 7.07000000e+00 ... 3.92830000e+02
  4.03000000e+00 3.47000000e+01]
 ...
 [6.07600000e-02 0.00000000e+00 1.19300000e+01 ... 3.96900000e+02
  5.64000000e+00 2.39000000e+01]
 [1.09590000e-01 0.00000000e+00 1.19300000e+01 ... 3.93450000e+02
  6.48000000e+00 2.20000000e+01]
 [4.74100000e-02 0.00000000e+00 1.19300000e+01 ... 3.96900000e+02
  7.88000000e+00 1.19000000e+01]]